$primaryColor: #C0FFEE;
$tableColor: #C0FFEE;
$box-padding:2.5rem;
$form-font:avenir;
$table-head-cell-color:rgba(255, 115, 0, 0.877);
$table-row-hover-background-color: rgba(232, 243, 208, 0.877);
$pagination-current-background-color:rgba(206, 86, 50, 0.877);
$table-cell-border: 1px solid rgb(155, 141, 236);
$table-cell-border-width: 5px 0px ;