@import "../../sass/variables.scss";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/components/pagination.sass";

.wrapper{
  margin: 5%;
  padding:5%;
  background-color: rgb(237, 240, 100);

}
